.App
  font-family: "Times New Roman"
  background-image: url("images_z9v6.jpeg")
  text-align: center
  height: 120vh
  h1
    padding-top: 10px
.info-bar
  width: 50vw
  > span:last-child
    font-size: 1.3em
.game-box1
  width: 45vw
  grid-template-columns: repeat(4, 1fr)
.game-box2
  width: 55vw
  grid-template-columns: repeat(5, 1fr)
.game-box3
  width: 65vw
  grid-template-columns: repeat(6, 1fr)
.game-box
  height: 90vh
  background-color: yellow
  aspect-ratio: 1 / 1
  margin: 5px auto
  padding: 20px
  border-radius: 10px
  box-shadow: 15px 15px 35px black
  display: grid
  grid-gap: 1.5vw
  div.single-card
    background-color: #333
    color: transparent
    border-radius: 15px
    vertical-align: middle
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.8em
  div.show-card
    color: white
    background-color: orange
  div.winner-card
    color: white
    background-color: orange
    animation: resize 1s
@keyframes resize
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(0.8)

.result-page
  width: 100%
  height: 40vh
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  h4
    color: seagreen
    background-color: rgba(255, 2555, 255, 0.7)
    padding: 2px 5px
    border-radius: 5px
.star-reset
  color: black
.anima1
  color: black
  animation: star-big 0.8s
.anima2
  color: white
  animation: star-small 0.8s

@keyframes star-big
  0%
    transform: scale(1)
  50%
    transform: scale(1.6)
  100%
    transform: scale(1)
@keyframes star-small
  0%
    transform: scale(1)
  50%
    transform: scale(0.7)
  100%
    transform: scale(1)

.swal-text
  text-align: center
.swal-button
  background-color: yellow
  color: black
  border: 2px solid black

.time-over
  animation: time 1s 10

@keyframes time
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.start-page
  position: relative
  height: 100vh
  top: -60vh
  animation: pos 1s forwards ease-in-out

@keyframes pos
  0%
    top: -60vh
    left: -1%
  30%
    top: 0
    left: 0
  45%
    top: -5%
    left: 1%
  60%
    top: -1%
    left: 0
  70%
    top: -3%
    left: -1%
  80%
    top: -1%
    left: 0
  90%
    top: -2%
    left: 1%
  100%
    top: 0
    left: 0

.start-box
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 60vh
  width: 40vw
  position: absolute
  left: 50%
  top: 20%
  transform: translateX(-50%)
  border: solid 1px
  border-radius: 15% 4% 15% 4%
  background-color: #555
  padding: 20px
  h2
    color: white
  button
    width: 30%
    &:focus
      border: 2px solid white
  button:last-child
    width: 70%
    color: white
    padding: 10px
    border: none
    background-color: #222222
    border-radius: 5px
    font-size: 1.2em
    animation: btn-shadow infinite 1s
@keyframes btn-shadow
  0%
    box-shadow: 0 0 10px 3px white
  50%
    box-shadow: 0 0 15px 5px white
  100%
    box-shadow: 0 0 10px 3px white

.line1, .line2
  display: flex
  align-items: flex-end
  z-index: 1
  height: 21vh
  width: 2px
  border: solid 1px
  position: absolute
  span
    position: relative
    left: -9px
    bottom: -5px
.line1
  left: 35%
.line2
  left: 65%

@media screen and (max-width: 1000px)
  .game-box2, .game-box3, .info-bar
    width: 85vw
@media screen and (max-width: 900px)
  .game-box1
    width: 70vw
  .game-box
    height: 80vh
  .info-bar
    > span:first-child, i
      font-size: 0.9em
  .start-box
    width: 60vw
@media screen and (max-width: 600px)
  .game-box2, .game-box3, .info-bar
    width: 70vw
  .info-bar
    > span:first-child, i
      font-size: 0.8em
  .start-box
    width: 80vw
  .game-box2, .game-box3
    grid-template-columns: repeat(4, 1fr)

@media screen and (max-width: 488px)
  .info-bar
    > span:first-child, i
      font-size: 0.6em
    > span:first-child button
      font-size: 1.3em
    > span:last-child
      font-size: 1em
  .game-box1, .game-box2, .game-box3, .info-bar
    width: 85vw










