.App
  font-family: "Times New Roman"
  background-image: url("images_z9v6.jpeg")
  text-align: center
  height: 120vh
  h1
    padding-top: 10px
.info-bar
  width: 50vw
.game-box1
  width: 40vw
  grid-template-columns: repeat(4, 1fr)
.game-box2
  width: 55vw
  grid-template-columns: repeat(5, 1fr)
.game-box3
  width: 65vw
  grid-template-columns: repeat(6, 1fr)
.game-box
  height: 90vh
  background-color: yellow
  aspect-ratio: 1 / 1
  margin: 5px auto
  padding: 20px
  border-radius: 10px
  box-shadow: 15px 15px 35px black
  display: grid
  grid-gap: 1.5vw
  div.single-card
    background-color: #333
    color: transparent
    border-radius: 15px
    vertical-align: middle
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.8em
  div.show-card
    color: white
    background-color: orange
  div.winner-card
    color: white
    background-color: orange
    animation: resize 1s
@keyframes resize
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(0.8)

.result-page
  height: 40vh
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  h4
    color: seagreen
    background-color: rgba(255, 2555, 255, 0.7)
    padding: 2px 5px
    border-radius: 5px
.star-reset
  color: black
.anima1
  color: black
  animation: star-big 0.8s
.anima2
  color: white
  animation: star-small 0.8s

@keyframes star-big
  0%
    transform: scale(1)
  50%
    transform: scale(1.6)
  100%
    transform: scale(1)
@keyframes star-small
  0%
    transform: scale(1)
  50%
    transform: scale(0.7)
  100%
    transform: scale(1)

.swal-text
  text-align: center
.swal-button
  background-color: yellow
  color: black
  border: 2px solid black

.time-over
  animation: time 1s 10

@keyframes time
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.start-page
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 40vw
  height: 50vh
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  button
    width: 30%
    &:focus
      border: 2px solid black
  button:last-child
    width: 50%
    padding: 10px
    background-color: yellow
    border: solid black
    font-size: 1.2em

@media screen and (max-width: 778px)
  .game-box1, .game-box2, .game-box3, .info-bar
    width: 80vw
  .game-box
    height: 80vh









